.title-section {
  margin-bottom: 1.6rem;
  h2 {
    font-size: 3.2rem;
    text-transform: uppercase;
    font-weight: 300;
    span {
      a {
        font-size: 1.4rem;
        margin-left: 2rem;
        font-weight: initial;
        color: #3c4a65;
        text-transform: initial;
      }
    }
  }
}
