.page-content-wrapper {
  & > .header {
    background-color: #fff;
    border-bottom: 1px solid #f4f5f7;
  }
  & > .name {
    background-color: #fff;
  }
}

.notify {
  position: relative;
  & > svg {
    font-size: 1.3rem;
  }
  & > span {
    position: absolute;
    background-color: tomato;
    padding: 0 4px;
    color: #fff;
    font-size: 0.8rem;
    transform: translate(-30%, -50%);
  }
}
