@font-face {
  font-family: "material-font";
  src: url("/assets/fonts/Material-Design-Iconic-Font.woff");
}

html {
  font-size: 62.5%;
}
/* Preset PADDING */
.p-20 {
  padding: 20px;
}

/* Preset MARGIN */

/* Page Custom */
